:root {
  --main-color: #2196F3;
  --header-logo-color: #000000;
  --typical-white-color: #FFFFFF;
  --header-nav-color: #212121;
  --header-contact-color: #757575;
  --banner-background-color: #2F303A;
  --btn-hover: #188CE8;
  --title-color: #212121;
  --team-text-color: #757575;
  --filter-btn-background: #F5F4FA;
  --filter-btn-text: #212121;
  --portfolio-title-color: #212121;
  --portfolio-text-color: #757575;
  --feature-icons-color: #F5F4FA;
  --team-background-color: #F5F4FA;
  --footer-background-color: #2F303A;
  --fillteam-color: #AFB1B8;
  --btn-send-color: #188CE8;
  --modal-label-color: #757575;
  --modal-title-color: #212121;
  --typical-margin: 30px;
  --typical-time-transition: 250ms;
  --typical-cubic-bezier: cubic-bezier (0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--typical-white-color);
  font-size: 14px;
}

.list {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  background: var(--typical-white-color);
  border-bottom: 1px solid #ECECEC;
}
.header__section {
  display: flex;
}
.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-logo-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo--color {
  color: var(--main-color);
}

.nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
}

.nav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__item .link.current {
  color: var(--main-color);
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--header-logo-color);
  transition-property: color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.nav__link:focus {
  color: var(--main-color);
}
.nav__link:hover {
  color: var(--main-color);
}

.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  border-radius: 2px;
}

.link {
  text-decoration: none;
  color: var(--header-nav-color);
}

.connect {
  display: flex;
}

.connect__list:not(:last-child) {
  margin-right: 30px;
}

.connect__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-contact-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  transition-property: color, fill;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.connect__link:hover {
  color: var(--main-color);
  fill: var(--main-color);
}
.connect__link:focus {
  color: var(--main-color);
}

.connect__icon {
  margin-right: 10px;
  display: inline-block;
  align-self: center;
  fill: currentColor;
}

.hero {
  background: var(--banner-background-color);
  text-align: center;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.hero__title {
  width: 696px;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: var(--typical-margin);
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--typical-white-color);
}

.hero__btn {
  width: 200px;
  height: 50px;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition-property: color, background, box-shadow;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.hero__btn:hover {
  background: var(--btn-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero__btn:focus {
  background: var(--btn-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__btn--text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--typical-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background: var(--typical-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
}

.modal-btn-exit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--typical-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition-property: fill;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.modal-btn-exit:hover .modal-icon-exit {
  fill: var(--main-color);
}
.modal-btn-exit:focus .modal-icon-exit {
  fill: var(--main-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--modal-title-color);
  margin-bottom: 12px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--modal-label-color);
  margin-bottom: 4px;
  display: block;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.modal-input:focus {
  border-color: var(--main-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--main-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  transition-property: border-color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.modal-text:focus {
  border-color: var(--main-color);
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-textarea {
  margin-bottom: 20px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--modal-label-color);
  display: flex;
  align-items: center;
  transition-property: background-color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  fill: transparent;
  transition-property: border-color, fill;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}

.input-check:focus + .check-text span {
  border-color: var(--main-color);
}

.input-check:checked + .check-text span {
  background-color: var(--main-color);
  border: none;
}

.input-check:checked + .check-text .check-icon {
  fill: var(--typical-white-color);
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.check-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--main-color);
}

.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--typical-white-color);
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-property: background, box-shadow;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.send-btn:hover {
  background: var(--btn-send-color);
}

.feature__list {
  display: flex;
}

.feature__item:not(:last-child) {
  margin-right: var(--typical-margin);
}

.feature__item--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: var(--feature-icons-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__item--title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.feature__item--text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--team-text-color);
  width: 270px;
}

.about {
  background-color: var(--typical-white-color);
  display: flex;
  padding-bottom: 94px;
}
.about__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.about__list {
  display: flex;
}
.about__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.about__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 70px;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--typical-white-color);
  background: rgba(47, 48, 58, 0.8);
}

.about__item {
  position: relative;
}
.about__item:not(:last-child) {
  margin-right: var(--typical-margin);
}

.team {
  background: var(--team-background-color);
}
.team__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
}

.team__item {
  display: flex;
  flex-direction: column;
  background: var(--typical-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: var(--typical-margin);
}

.team__item--img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__subtitle {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--team-text-color);
  margin-bottom: 16px;
}

.team-soc__list {
  display: flex;
  justify-content: center;
}

.team-soc__item + .team-soc-item {
  margin-left: 10px;
}

.team-soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--typical-white-color);
  fill: var(--fillteam-color);
  transition-property: fill, background-color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.team-soc__link:hover {
  background-color: var(--main-color);
  fill: var(--typical-white-color);
}
.team-soc__link:focus {
  background-color: var(--main-color);
  fill: var(--typical-white-color);
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.client__list {
  display: flex;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--fillteam-color);
  transition-property: fill, border-color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.client__link:hover {
  border: 1px solid #2196F3;
  fill: var(--main-color);
}
.client__link:focus {
  border: 1px solid #2196F3;
  fill: var(--main-color);
}

.filtr {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filtr-btn-list {
  margin-right: 8px;
}

.filtr-btn {
  background: var(--filter-btn-background);
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  padding: 6px 22px 6px 22px;
  transition-property: color, background, box-shadow;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.filtr-btn:hover {
  background: var(--btn-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filtr-btn:focus {
  background: var(--btn-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtr-btn-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--filter-btn-text);
}
.filtr-btn-text:hover {
  color: var(--typical-white-color);
}
.filtr-btn-text:focus {
  color: var(--typical-white-color);
}

.currentbtn {
  background: var(--btn-hover);
  color: var(--typical-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
}

.portfolio-item {
  margin-right: var(--typical-margin);
  margin-bottom: var(--typical-margin);
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-border {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 24px 20px 24px 20px;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--portfolio-title-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--portfolio-text-color);
}

.portfolio-overlay {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.portfolio-description-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--typical-white-color);
  transform: translatey(101%);
  transition-property: transform, background, color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.portfolio-link:hover .portfolio-description-text {
  transform: translatey(0);
}
.portfolio-link:focus .portfolio-description-text {
  transform: translatey(0);
}

.footer {
  background: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__contact {
  margin-right: 70px;
}
.footer__logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--typical-white-color);
  margin-bottom: 20px;
  display: block;
}

.footer__logo--color {
  color: var(--main-color);
}

.footer__address {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--typical-white-color);
}

.address__list:not(:last-child) {
  margin-bottom: 9px;
}

.address__list--link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-property: color;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.address__list--link:hover {
  color: var(--main-color);
}
.address__list--link:focus {
  color: var(--main-color);
}

.soc__column {
  margin-right: auto;
}

.soc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--typical-white-color);
}

.soc__list {
  display: flex;
  margin-top: 20px;
}

.soc__item:not(:last-child) {
  margin-right: 10px;
}

.soc__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  fill: var(--typical-white-color);
  transition-property: background;
  transition-duration: var(--typical-time-transition);
  transition-timing-function: var(--typical-cubic-bezier);
}
.soc__link:hover {
  background-color: var(--main-color);
}
.soc__link:focus {
  background-color: var(--main-color);
}

.subscribe__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--typical-white-color);
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  width: 358px;
  font-size: 16px;
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  color: var(--typical-white-color);
}

.subscribe__btn {
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  color: var(--typical-white-color);
  border: none;
  cursor: pointer;
}

.subscribe__btn--icon {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */