:root {
    --main-color: #2196F3;
    --header-logo-color: #000000;
    --typical-white-color: #FFFFFF;
    --header-nav-color: #212121;
    --header-contact-color: #757575;
    --banner-background-color: #2F303A;
    --btn-hover: #188CE8;
    --title-color: #212121;
    --team-text-color: #757575;
    --filter-btn-background: #F5F4FA;
    --filter-btn-text: #212121;
    --portfolio-title-color: #212121;
    --portfolio-text-color: #757575;
    --feature-icons-color: #F5F4FA;
    --team-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --fillteam-color: #AFB1B8;
    --btn-send-color: #188CE8;
    --modal-label-color: #757575;
    --modal-title-color: #212121;
    --typical-margin: 30px;
    --typical-time-transition: 250ms;
    --typical-cubic-bezier: cubic-bezier (0.4, 0, 0.2, 1);

}